body{
  text-align: center;
  background-color: #2f5d62;
}
h1{
  margin: 30px;
  font-family: 'Pacifico', cursive;
  text-shadow: 5px 0 black;
  font-size: 5rem;
  color: #29bb89;
  font-weight: bold;
}
p{
  font-size: 1.5rem ;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 5px 0 black;
  color:#ffe268;
  font-weight: bold;
}
.dice{
  display: inline-block;
  margin: 30px;
}
